<div class="exercise-problem" id="{{problem.number}}">
    <div class="image-snippet" id="image-snippet{{problem.number}}">
        <img src="{{path_to_img}}" />
    </div>
    <div class="curl" id="curl{{problem.number}}"></div>
    <form>
        <p>{{problem.contents}}</p>
        <input type="text" placeholder="Answer" class="answer-box" id="answer-box{{problem.number}}">
        <input type="submit" value="Check" class="answer-submit" id="check-button1{{problem.number}}">
    </form>
</div>
