<a class="exercise-row" href="./exercise.html?id={{ exercise.id }}">
    <div>
        {{#if exercise.completed_problems}}
            {{#if completed }}
                <img class="icon" src="./assets/finished-icon.svg" />
                {{else}}
                <img class="icon" src="./assets/inprogress-icon.svg" />
            {{/if}}
        {{else}}
            <div class="placeholder"> </div>
        {{/if}}
        <div class="title-container">
            <p class="exercise-number">Exercise {{exercise.number}}</p>
            <p class="exercise-title">{{exercise.name}}</p>
        </div>
        <p class="due-date">Due {{exercise.due_date}}</p>
    </div>
</a>

