<a class="exercise-row" href="./exercise.html?id={{ exercise.id }}">
    <div>
        {{#if exercise.completed}}
            <img class="icon" src="./assets/finished-icon.svg" />
        {{else if exercise.inprogress}}
            <img class="icon" src="./assets/inprogress-icon.svg" />
        {{else}}
            <div class="placeholder"> </div>
        {{/if}}
        <div class="title-container">
            <p class="exercise-number">Exercise {{exercise.number}}</p>
            <p class="exercise-title">{{exercise.name}}</p>
        </div>
        {{#if exercise.inprogress}}
            <div class="exercise-progress-container">
                <p> {{exercise.percent}}% Complete </p>
                <progress value={{exercise.decimal}}></progress>
            </div>
        {{/if}}
        <p class="due-date">Due {{exercise.due_date}}</p>
    </div>
</a>

